@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,500,600,700,800&subset=cyrillic');
body{
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  color: #fff;
}
a:focus{
  outline:none;
}
a:hover{
  text-decoration: none;
  color: #fff;
}
a{
  text-decoration:none;
}


/********header********/
header{
  position: relative;
  background-color: #1e3a8b;
  height: 100vh;
}
header .container{
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}
.header__callback{
  font-size: 14px;
  font-weight: 400;
  display: block;
  padding: 12px 28px;
  border: 1px solid #395098;
  color: #fff;
  border-radius: 0;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.header__callback:hover{
  background-color: #395098;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
header .row:first-child{
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  padding: 40px 0;
}
header .row:nth-child(2){
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.mainScr__preHeader{
  position: relative;
  font-size: 16px;
  margin-bottom: 35px;
}
.mainScr__preHeader:before, .mainScr__preHeader:after{
  display: block;
  height: 1px;
  width: 50px;
  position: absolute;
  background-color: #fff;
  top: 50%;
  content:'';
}
.mainScr__preHeader:before{
  left: -75px;
}
.mainScr__preHeader:after{
  right: -75px;
}
.mainScr__header{
  font-size: 58px;
  font-weight: 600;
  margin-bottom: 20px;
}
.mainScr__subHeader{
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 75px;
}
.mainScr_btn{
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  font-size: 18px;
  padding: 20px 50px;
  border-radius: 0;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.mainScr_btn:hover{
  color: #1e3a8b;
  background-color: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.scrolldown{
  margin: auto;
  margin-bottom: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  color: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.scrolldown:hover{
  opacity: .75;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.scroll-icon{
  margin-top: 15px;
}


/********invest********/
.investSection{
  background: rgb(222,240,244); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(222,240,244,1) 0%, rgba(222,240,244,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(222,240,244,1) 0%,rgba(222,240,244,1) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(222,240,244,1) 0%,rgba(222,240,244,1) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#def0f4', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  padding: 190px 0;
}
.investSection__text{
  color:#1e3a8b;
  font-size: 28px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 15px;
  max-width: 470px;
}
.investSection__text span{
  color:#1e3a8b;
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 30px;
}
.investSection__text:nth-child(2) span{
  font-size: 42px;
  font-weight: 700;
}
.investTerm{
  color:#1e3a8b;
  font-size: 22px;
  font-weight: 300;
  position: relative;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 20px;
}
.investTerm span{
  font-size: 22px;
  font-weight: 700;
}
.investTerm:before{
  content:url('../img/check.svg');
  position: absolute;
  top: 3px;
  left: -35px;
  display: block;
}
.investSection .row{
  -ms-align-items: center;
  align-items: center;
}

/********formats********/
.formatsSection{
  background-color: #1e3a8b;
  padding: 100px 0;
}
.formatsSection__header{
  font-size: 42px;
  font-weight: 300;
  text-align: center;
  width: 100%;
  margin: 0;
  margin-bottom: 40px;
}
.formatsSection .row{
  margin-bottom: 40px;
  background-color: #fff;
  padding: 50px;
}
.formatsImage, .formatsText{
  width: 50%;
}
.formatsImage img{
  max-width: 100%;
}
.formatsSection .col-xl-12{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.formatsText h3{
  font-size: 22px;
  font-weight: 500;
  color: #1e3a8b;
  margin: 0;
  margin-bottom: 10px;
  max-width: 370px;
}
.requirements p{
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin: 0;
  margin-bottom: 10px;
}
.requirements ul{
  list-style:none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 15px;
}
.requirements ul li{
  line-height: 1.2;
  font-size: 15px;
  color: #000;
  font-weight: 300;
  position: relative;
}
.requirements ul li:before{
  position: absolute;
  display: block;
  content:url('../img/disc.svg');
  top: -2px;
  left: -18px;
}
.formatsDesc{
  color: #1e3a8b;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}
.formatsDesc span{
  font-weight: 700;
}
.formatsProfit__header p{
  font-size: 16px;
  color: #000;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}
.formatsProfit__text{
  margin: 0;
  line-height: 1.2;
  color: #000;
  font-weight: 300;
  font-size: 15px;
}
.formatsProfit{
  margin-bottom: 20px;
}
.requestBtn{
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-color: #1e3a8b;
  border: 2px solid #1e3a8b;
  border-radius: 0;
  padding: 15px 25px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.requestBtn:hover{
  color: #1e3a8b;
  background-color: transparent;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.formatsSection .row:nth-child(even) img{
  padding-right:40px;
}
.formatsSection .row:nth-child(odd) img{
  padding-left:40px;
}
.wholesale__text{
  font-size: 16px;
  font-weight: 200;
  color: #000;
}
.wholesale__text p{
  line-height: 1.2;
  margin: 0;
  margin-bottom: 10px;
}

/********adv********/
.advSection{
  padding: 110px 0;
  background-image: url(../img/advbg.jpg);
  background-position: right center;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.advSection__header{
  color: #1e3a8b;
  font-size: 38px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 50px;
}
.advs{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  max-width: 970px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.adv{
  width: calc(100% / 3);
  margin-bottom: 30px;
  padding-right: 80px;
}
.adv__header{
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}
.adv__text{
  color: #000;
  font-size: 16px;
  font-weight: 200;
}

/********fr********/
.franchAdvHeadSection{
  padding: 100px 0;
  background-color: #1e3a8b;
}
.franchAdvHeadSection h2{
  color: #fff;
  font-size: 38px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;
}
.franchAdvHeadSection p{
  color: #fff;
  font-weight: 200;
  font-size: 20px;
  max-width: 630px;
}
.franchAdvHeadSection .row{
  justify-content: center;
  text-align: center;
}

/********adv1********/
.adv1Section{
  padding: 100px 0;
}
.adv1Section h3{
  color: #1e3a8b;
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 30px;
}
.advSection__headingText{
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 15px;
}
.advSection__text{
  color: #000;
  font-weight: 200;
  font-size: 16px;
  margin: 0;
  margin-bottom: 30px;
}

/********adv2********/
.adv2Section{
  background-color: #def0f4;
  padding: 100px 0;
}
.adv2Section h3{
  color: #1e3a8b;
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 40px;
}
.adv2Section h4{
  color: #1e3a8b;
  font-size: 28px;
  font-weight: 400;
}
.adv2Section .row{
  -ms-align-items: center;
  align-items: center;
}
.adv2Section .col-xl-6:nth-child(2){
  padding-left: 10%;
}

/********adv3********/
.adv3Section{
  padding: 100px 0;
}
.adv3Section h3{
  color: #1e3a8b;
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 40px;
}
.adv3Section__columns{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.adv3Section__column{
  width: calc(100% / 3);
  padding-right: 5%;
  margin: 0;
  margin-bottom: 40px;
}
.adv3Section__header{
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}
.adv3Section__text{
  color: #000;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
}

/********adv4********/
.adv4Section{
  background-color: #def0f4;
  padding: 100px 0;
}
.adv4Section h3{
  color: #1e3a8b;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 40px;
}
.adv4Section ul{
  list-style:none;
  padding: 0;
  margin: 0;
  padding-left: 40px;
}
.adv4Section ul li{
  position: relative;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  margin-bottom: 15px;
  color: #000;
  max-width: 450px;
}
.adv4Section ul li:before{
  position: absolute;
  content:url(../img/arrow.svg);
  display: block;
  top: 0;
  left: -40px;
}
.adv4Section .col-xl-6:nth-child(2){
  padding-left: 40px;
}
.adv4Section p{
  color: #000;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  margin-bottom: 20px;
}

/********about********/
.aboutSection{
  padding: 100px 0;
  background-color: #1e3a8b;
}
.aboutSection__header{
  color: #fff;
  margin: 0;
  margin-bottom: 30px;
  font-size: 42px;
  font-weight: 300;
  width: 100%;
  text-align: center;
}
.aboutSection .col-xl-7{
  padding-left: 40px;
}
.aboutDescr p{
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  margin: 0;
  margin-bottom: 10px;
}
.aboutDescr p span{
  font-weight: 400;
}
.aboutSection img{
  max-width: 100%;
}
.aboutSection hr{
  background-color: #fff;
  margin: 40px 0;
}
.aboutNumbers{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.aboutNumbers p{
  font-size: 22px;
  font-weight: 300;
  width: 30%;
  margin: 0;
  line-height: 1;
}
.aboutNumbers p span{
  font-size: 80px;
  font-weight: 700;
}
.aboutSection h3{
  width: 100%;
  text-align: center;
  font-size: 42px;
  font-weight: 300;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 40px;
}
.sliderRow{
  position: relative;
  text-align: center;
}
.feedback__name{
  font-size: 24px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 20px;
}
.feedback__rating{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.feedbackRating__header{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.feedbackRating__shortFeedback, .feedbackRating__delivery{
  margin: 0 5px;
  font-size: 14px;
  font-weight: 600;
}
.feedbackRating__rating{
  height: 20px;
}
.feedback__rating{
  margin-bottom: 20px;
}
.feedbackBody{
  color: #a3bcff;
  font-size: 14px;
  font-weight: 300;
}
.feedback-swiper-container{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: left;
}
.yaMLink{
  color: #000;
  padding: 15px 30px;
  background-color: #fff;
  border-radius: 3px;
  margin: 0 auto;
  border: 2px solid #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.yaMLink:hover{
  color: #fff;
  background-color: transparent;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.yaM-icon{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

/********documents********/
.documentsSection{
  padding: 100px 0;
}
.documentsSection h3{
  color: #1e3a8b;
  font-size: 38px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}
.documentsSection .col-xl-3 p{
  background-color: #def0f4;
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  color: #000;
  padding: 25px 30px;
  padding-left: 50px;
  position: relative;
  height: 100%;
}
.documentsSection .col-xl-3 p:before{
  position: absolute;
  content:url(../img/check.svg);
  display: block;
  top: 28px;
  left: 18px;
}
.documentsSection .col-xl-3{
  margin-bottom: 30px;
}

/********business********/
.businessSection{
  background-color: #def0f4;
  padding: 100px 0;
}
.businessSection h3{
  color: #1e3a8b;
  font-size: 38px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
}
.businessSection p{
  margin: 0;
  margin-bottom: 20px;
  color: #000;
  font-weight: 200;
  font-size: 16px;
}
.businessSection .row:nth-child(2){
  padding-right: 60px;
}

/********form********/
.formSection{
  padding: 100px 0;
  background-color: #1e3a8b;
}
.formSection h3{
  color: #fff;
  font-size: 38px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
}
.formColumn{
  text-align: center;
}
.callback__header, .form__header{
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px;
}
.callback__text{
  color: #a9bafd;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 50px;
}
.callback__phone{
  padding: 30px;
  border: 1px solid #a9bafd;
  border-radius: 50%;
  margin: 0;
  margin-bottom: 50px;
  display: inline-block;
  line-height: 1;
}
.phone-icon{
  width: 60px;
  height: 60px;
}
.callback__button{
  color: #fff;
  font-size: 18px;
  padding: 15px 65px;
  background-color: #1e3a8b;
  border-radius: 3px;
  border: 2px solid #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.callback__button:hover{
  color: #1e3a8b;
  background-color: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.formSection .row > *{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.formColumn form{
  width: 320px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.formColumn form > *{
  width: 100%;
}
.formColumn form input[type="text"]{
  height: 50px;
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  border: none;
  margin: 0;
  margin-bottom: 10px;
}
.formColumn form textarea{
  height: 80px;
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  border: none;
  margin: 0;
  margin-bottom: 30px;
}
.formColumn form input[type="submit"]{
  color: #fff;
  height: 60px;
  font-size: 18px;
  background-color: #1e3a8b;
  border-radius: 3px;
  border: 2px solid #fff;
  cursor:pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.formColumn form input[type="submit"]:hover{
  color: #1e3a8b;
  background-color: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.agreement{
  font-size: 11px;
  font-weight: 400;
  color: #8193df;
}
.agreement a{
  color: #bfcbfb;
}
  /* Скрываем реальный чекбокс */
  .checkbox {
  	display: none;
  }
  label{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
  /* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
  .checkbox-custom {
  	position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
  	width: 16px;             /* Обязательно задаем ширину */
  	height: 16px;            /* Обязательно задаем высоту */
  	border: none;
  	border-radius: 2px;
    background-color: #3c4d99;
  }
  /* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
  .checkbox-custom,
  .label {
  	display: inline-block;
  	vertical-align: middle;
    text-align: left;
    padding-left: 10px;
    min-width:16px;
  }
  /* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
  .checkbox:checked + .checkbox-custom::before {
  	content: url(../img/checkbox.svg);             /* Добавляем наш псевдоэлемент */
  	display: block;			 /* Делаем его блочным элементом */
  	position: absolute;      /* Позиционируем его абсолютным образом */
  	/* Задаем расстояние от верхней, правой, нижней и левой границы */
  	top: 2px;
  	right: 2px;
  	bottom: 2px;
  	left: 2px;
  	border-radius: 2px;
  }










/********adaptive********/
@media(max-width:1199px){
  .investSection__text span{
    font-size: 48px;
  }
  .investSection__text{
    font-size: 22px;
  }
  .investTerm{
    font-size: 20px;
  }
  .investSection{
    padding: 80px 0;
  }
  .formatsSection{
    padding: 80px 0;
  }
  .formatsSection .row{
    padding: 25px;
  }
  .advSection{
    padding: 80px 0;
    background:none;
  }
  .franchAdvHeadSection{
    padding: 80px 0;
  }
  .adv1Section img{
    max-width: 100%;
  }
  .adv1Section h3{
    font-size: 24px;
  }
  .advSection__headingText{
    font-size: 18px;
  }
  .advSection__text{
    font-size: 14px;
  }
  .adv1Section, .adv3Section, .adv2Section, .adv4Section, .documentsSection, .businessSection, .formSection{
    padding: 80px 0;
  }
  .aboutDescr p{
    font-size: 18px;
  }
  .aboutSection hr{
    margin: 20px 0;
  }
  .aboutNumbers{
    text-align: center;
  }
  .aboutNumbers p span{
    font-size: 60px;
  }
  .aboutSection h3{
    margin: 40px 0;
  }
  .businessSection img{
    max-width: 100%;
  }
  .businessSection p{
    font-size: 14px;
    margin-bottom: 10px;
  }
}
@media(max-width:991px){
  .mainScr__header{
    font-size: 45px;
  }
  .mainScr__subHeader{
    font-size: 20px;
  }
  section{
    padding: 40px 0!important;
  }
  .investSection__text span{
    font-size: 40px;
  }
  .investSection__text:nth-child(2) span{
    font-size: 32px;
  }
  .investSection__text{
    font-size: 20px;
  }
  .investTerm{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .advSection__header{
    font-size: 36px;
    width: 100%;
    text-align: center;
  }
  .adv{
    padding-right: 20px;
  }
  .adv3Section__column{
    padding-right: 3%;
  }
  .adv4Section ul li{
    margin-right: auto;
    margin-left: auto;
  }
  .aboutSection img{
    margin-bottom: 20px;
  }
  .businessSection img{
    margin-top: 20px;
  }
  .callback__text, .callback__phone{
    margin-bottom: 30px;
  }
  .formColumn{
    margin-bottom: 60px;
  }
}
@media(max-width:767px){
  section{
    padding: 20px 15px!important;
  }
  header{
    padding: 0 15px;
  }
  header .row:first-child{
    padding: 10px 0;
  }
  .mainScr__header{
    font-size: 25px;
    margin-bottom: 10px;
  }
  .mainScr__preHeader{
    margin-bottom: 15px;
    font-size: 14px;
  }
  .mainScr__subHeader{
    font-size: 12px;
    margin-bottom: 20px;
  }
  .mainScr_btn{
    padding: 10px 25px;
  }
  .header__callback{
    padding: 6px 14px;
  }
  .scrolldown{
    margin-bottom: 0;
    font-size: 12px;
  }
  .investSection{
    background: none;
  }
  .investSection .row > div:first-child{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #1e3a8b;
  }
  .investSection__text span{
    margin-bottom: 10px;
  }
  .investTerm{
    font-size: 16px;
  }
  .investTerm span{
    font-size: 18px;
  }
  .requestBtn{
    font-size: 14px;
  }
  .adv__header{
    font-size: 15px;
  }
  .adv__text{
    font-size: 13px;
  }
  .adv{
    margin-bottom: 15px;
  }
  .franchAdvHeadSection h2{
    font-size: 32px;
  }
  .franchAdvHeadSection p{
    font-size: 18px;
  }
  .adv3Section__header{
    font-size: 15px;
  }
  .adv3Section__text{
    font-size: 13px;
  }
  .aboutSection img{
    width: 50%;
  }
  .aboutSection__header{
    font-size: 35px;
  }
  .aboutDescr p{
    font-size: 16px;
  }
  .aboutSection h3{
    font-size: 32px;
  }
  .feedback__name{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .feedbackRating__shortFeedback, .feedbackRating__delivery{
    font-size: 12px;
  }
  .feedbackBody{
    font-size: 12px;
  }
  .feedback-swiper-container{
    width: 90%;
    margin-bottom: 30px;
  }
  .documentsSection h3{
    font-size: 30px;
  }
  .businessSection h3{
    font-size: 32px;
    margin-bottom: 20px;
  }
  .formSection h3{
    font-size: 30px;
    margin-bottom: 20px;
  }
  .callback__header, .form__header{
    font-size: 24px;
    margin-bottom: 15px;
  }
  .businessSection p{
    font-size: 12px;
  }
}
